[Desktop Entry]
Version=1.0
Name=PDF Mix Tool
Comment=Application to split, merge, rotate and mix PDF files
Exec=pdfmixtool
Icon=eu.scarpetta.PDFMixTool
Terminal=false
Type=Application
StartupNotify=true
Categories=Office
Keywords=pdf;
